extends layout

block content  
  h1
    span F1 Teams
  h2 This is for part 1 of the Red Hat Single Sign On demo
  p To access the team data, please login.
  br
  a(href="/landing")
    button() Login