extends layout

block content  
  div.clearfix
    div.pull-left
      span Currently logged in as: #{user.displayName}
    div.pull-right
      a(href="/logout") Logout
  br
  div.jumbotron
    h1.text-center 2018 F1 Team Names
  each team, index in teams
    p #{team.name} - #{team.country}