extends layout

block content  
  div.clearfix
    div.pull-left
      //span Currently logged in as #{user.email}
      br
      //span Profile last updated at #{user.updated_at}
    div.pull-right
      a(href="/logout")
        button() Logout
  br
  div.jumbotron
    h1.text-center 2018 F1 Team Names
  each team, index in teams
    p #{team.name} - #{team.country}